/* siderbar */
.sidebar {
    background: var(--white);
    min-height: 100vh;
    position: fixed;
    width: 250px;
    border-right: 1px solid var(--border);
    z-index: 9;
}
.navbar-left {
    border-bottom: 1px solid var(--border);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
}
.navbar-left img {
    width: 150px;
}
.sidebar-body ul {
    padding: 25px;
}
.sidebar-body ul li{
    padding: 3px 0;
}
.sidebar-body ul li span {
    margin-left: 10px;
    font-weight: 600;
    color: var(--baseColor);
}

.sidebar-body ul li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: var(--radius);
}
.sidebar-body ul li.active a{
 background-color:rgba(var(--primaryColor), 0.07);   
}
.sidebar-body ul li.active a span{
    color:rgba(var(--primaryColor));
}
.sidebar-body ul li.active a svg path:not(.transport-icon path){
    fill: rgba(var(--primaryColor));
}
.transport-icon path{
    stroke-width: 2;
}
.sidebar-body ul li.active a .transport-icon path{
    stroke: rgba(var(--primaryColor));
}
/* main body */
.body-main {
    padding: 0 30px;
    max-width: calc(100% - 250px);
    flex: calc(100% - 250px);
    margin-left: 250px;
}
.main-header {
    background: var(--white);
    padding: 10px 25px;
    margin: 0 -30px;
    height: 70px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 9;
    justify-content: space-between;
}
.user-detail {
    font-weight: 600;
    font-size: 15px;
}
body .jVeafb {
    font-size: 14px;
    min-height: 52px;
}
.report-filter {
    margin: 0 -30px;
    background: var(--white);
    margin-top: -30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30px;
    border-bottom: 1px solid var(--border);
}

.report-filter li a {
    display: block;
    padding: 10px 20px;
    border-bottom:2px solid transparent;
    cursor: pointer;
    opacity: 0.6;
    font-weight: 600;
}
.report-filter li.active a {
    color:rgba(var(--primaryColor)) ;
    border-color:rgba(var(--primaryColor)) ;
    opacity: 1;
}
.group-field {
    display: flex;
    align-items: center;
    background: rgba(var(--primaryColor), 0.1);
    border-radius: var(--radius);
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(var(--primaryColor), 0.4);
    justify-content: space-between;
}
.gf-in {
    display: flex;
    align-items: center;
}
.form-check-input:checked[type=radio] +label {
    color: rgba(var(--primaryColor));
    opacity: 1;
}
.form-check+.form-check {
    margin-left: 15px;
}
.warning-icon {
    width: 70px;
    height: 70px;
    margin-top: -4px;
}
.confirm-content-body {
    text-align: center;
}
.confirm-content-body h2 {
    padding: 10px 0;
    font-size: 26px;
}
.confirm-content-body span {
    font-size: 16px;
}
.anchor:hover {
    color: rgba(var(--primaryColor));
}
.bg-text {
    font-size: 13px;
    font-weight: 600;
}
.user-detail.xl-text {
    display: flex;
    align-items: center;
    font-size: 17px;
}
.bysellopt {
    font-weight: normal;
    font-size: 12px;
    margin-left: 5px;
}
.c-date {
    opacity: 0.8;
    font-size: 12px;
  }
  .credit, .debit{
    font-size: 16px;
    font-weight: 600;
    }

  .credit{
color: rgba(var(--primaryColor));  
}
.debit{
    color: red;  
    }
  
    .nav.card a {
        font-weight: 600;
        color: var(--baseColor);
        align-items: center;
        padding: 10px 20px;
        border-radius: var(--radius);
    }
    .nav.card a.active {
        background-color: var(--primaryColor);
        color:   rgba(var(--primaryColor));
    }
    .nav.card {
        padding: 25px;
        border: 1px solid var(--border);
        /* box-shadow: 0px 0px 5px rgb(23 24 24 / 5%), 0px 1px 2px rgb(0 0 0 / 5%); */
    }


    /* signin */
    .column {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: var(--white);
        height: 100vh;
    }

    .login-head {
        max-width: 30%;
        flex: 0 0 30%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        background: url(../images/bg.jpg) no-repeat center / cover;
    }
    .after-layer {
        flex: 0 0 70%;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
    .c-card-wrap {
        max-width: 430px;
        width: 100%;
    }
    .form-header .image {
        
        width: 50px;
        margin-bottom: 20px;
    }
    .form-header h1{
        font-weight: 700;
    }
    .form-header h4 {
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 20px;
        opacity: 0.8;
        margin-top: 5px;
    }

    .login-head:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(var(--primaryColor), 0.7);
    }

    .login-logo {
        margin-top: 60px;
        background: var(--white);
        border-radius: var(--radius);
        display: inline-block;
        padding: 15px;
    }
    .login-in {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .footer p {
        font-size: 13px;
        color: #fff;
        font-weight: normal;
        opacity: 0.9;
    }

    .f-name {
        font-size: 14px;
        text-decoration: underline;
    }
    .extra-stuff img {
        width: 25px;
    margin-right: 5px;
    position: relative;
    top: -2px;
    opacity: 0.5;
    }
    .extra-stuff {
        margin-top: 15px;
        font-size: 14px;
    }



    .account-info {
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    .account-info-wrapper {
        position: relative;
    }

    .drop-down {
        background: var(--white);
        box-shadow: 0px 0px 5px rgb(23 24 24 / 2%), 0px 1px 2px rgb(0 0 0 / 2%);
    padding: 5px 0;
        position: absolute;
        right: -13px;
        top: 100%;
        margin-top: 11px;
        min-width: 180px;
        opacity: 0;
        visibility: hidden;
        transition: 300ms all;
        border-radius: var(--radius);
        border: 1px solid var(--border);
    }
    .account-info span {
        width: 36px;
        height: 36px;
        line-height: 35px;
        border-radius: var(--radius);
        background: rgba(var(--primaryColor), 0.1);
        display: block;
        font-weight: 600;
        color: rgba(var(--primaryColor), 0.9);
        border: 1px solid rgba(var(--primaryColor), 0.2);
        font-size: 18px;
    }
    .sidebar-header {
        display: flex;
        align-items: center;
        padding: 8px;
    }

  
    .sidebar-header figure {
        width: 40px;
        height: 40px;
        line-height: 60px;
        border-radius: var(--radius);
        border: 1px solid var(--border);
        margin: 0;
        overflow: hidden;
        background: var(--white);
        display: flex;
        align-items: center;
    }
    .sidebar-header label {
        margin: 0;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .sidebar-header img {
        padding: 6px;
        display: block;
    }
    .sidebar-header img {
        width: 100%;
    }

    .sidebar-header label span {
        font-weight: 600;
        font-size: 16px;
        display: block;
        color: var(--baseColor);
    }
    .account-info span {
        width: 36px;
        height: 36px;
        line-height: 35px;
        border-radius: var(--radius);
        background: rgba(var(--primaryColor), 0.1);
        display: block;
        font-weight: 600;
        color: rgba(var(--primaryColor), 0.9);
        border: 1px solid rgba(var(--primaryColor), 0.2);
        font-size: 18px;
    }

    .account-info-wrapper:hover .drop-down {
        opacity: 1;
        visibility: visible;
    }
    .side-foot-menus {
        white-space: nowrap;
        padding: 0;
    }
    .sub-divider {
        background: var(--border);
        display: block;
        position: relative;
        width: 100%;
        height: 0.9px;
        margin: 0 0 5px 0;
    }
    .side-foot-menus li a {
        padding: 6px 16px 6px 12px;
        display: flex;
        align-items: center;
        color: var(--baseColor);
        font-size: 14px;
        text-decoration: none;
        cursor: pointer !important;
        position: relative;
        font-weight: 500;
    }
    .side-foot-menus li a:hover {
        background: rgba(5,131,107,0.1);
    }
    .side-foot-menus svg {
        margin-right: 12px;
        width: 20px;
    }

    a.anchor {
        cursor: pointer;
    }