button.close {
    background: transparent;
    border: 0;
    padding: 0;
}

.login-main {
    background: rgba(var(--grayBg));
}
.login-main .column {
    max-width: 365px;
    flex: 0 0 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: calc(100vh - 51px );
}
.login-main-wrapper {
    height: 100vh;
}

.login-head img.image {
    max-width: 200px;
}

.c-card {
    box-shadow: 0px 63px 92px rgba(var(--blackBg), 5%);
    border-radius: 8px;
}

.after-layer,
.before-layer {
    position: relative;
}

.c-card-wrap {
    position: relative;
    z-index: 9;
    padding: 40px;
    background: rgba(var(--whiteBg));
    border-radius: 14px;
}
.c-card-wrap h1{
    margin: 0 0 10px 0;
    font-weight: 900;
    line-height: 1.1em;
    letter-spacing: -0.045em;
}
.c-card-wrap h1+div{
    color: rgba(var(--baseColor), 0.5);
    letter-spacing: inherit;
    line-height: 1.4em;
    font-size: 16px;
    font-weight: 500;
}

.footer p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    font-weight: 500;
    color: rgba(var(--blackBg), 0.5);
}
.footer p a{
    color: rgba(var(--blackBg), 0.5);
}
.footer p a:hover{
    color: rgba(var(--blackBg), 0.9);
}
.sidebar {
    max-width: 250px;
    flex: 0 0 250px;
    /* background: rgba(var(--grayBg)); */
    position: fixed;
    width: 100%;
    z-index: 9;
}

.extra-stuff {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
    color: rgba(var(--blackBg), 0.6);
}
.extra-stuff a {
    margin-left: 5px;
    color: rgba(var(--themeColor), 0.9);
}
.extra-stuff a:hover{
    text-decoration: underline;
    color: rgba(var(--themeColor), 0.9);

}
.body-main {
    max-width: calc(100% - 250px);
    flex: 0 0 calc(100% - 250px);
    margin-left: 250px;
    position: relative;
}

.tab-pane>.body-content {
    padding: 0;
    min-height: auto;
}

.body-main:after,
.body-main:before {
    content: "";
    background: url(../images/border.svg) no-repeat center center / cover;
    height: 20px;
    width: 20px;
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 99;
}

.body-main:before {
    top: inherit;
    bottom: 0;
    transform: rotate(-90deg);
}

.sidebar-wrap {
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    z-index: 9;
    background: rgb(var(--whiteBg));
    border-right: 1px solid rgb(0 0 0 / 8%);
}

.sidebar-header {
    padding: 8px;
}
.side-foot-menus {
    white-space: nowrap;
    padding: 0 8px 8px 8px;
}
.side-foot-menus li a {
    padding: 6px 16px 6px 12px;
    display: flex;
    align-items: center;
    color: rgba(var(--blackBg));
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer !important;
    position: relative;
    font-weight: 500;
}
.side-foot-menus li a:hover:not(.is-disabled) {
    background: rgba(var(--lightGray));
}
.sidebar-header img {
    width: 100%;
}

.sidebar-body {
    margin: 0;
    padding: 20px;
    list-style: none;
    /* max-height: calc(100vh - 230px);
    overflow: auto; */
}
.navbar-header .divider {
    width: 0.5px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.075);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    height: 60px;
}
.navbar-left {
    display: flex;
    align-items: center;
}

.account-info {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.account-info span {
    width: 36px;
    height: 36px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(var(--themeColor), 0.1);
    display: block;
    font-weight: 600;
    color: rgba(var(--themeColor), 0.9);
    border: 1px solid rgba(var(--themeColor), 0.2);
    font-size: 18px;
}


.language-switcher {
    text-transform: uppercase;
}

.body-header {
    padding: 0 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: rgb(0 0 0 / 8%) 0 1px;
    background-color: rgba(var(--whiteBg), 0.72);
}

.navbar-header h3 {
    font-weight: 500;
}

.navbar-right>ul {
    display: flex;
    align-items: center;
}

.customer-menu>li>a {
    min-width: 240px;
    justify-content: initial !important;
}

.customer-menu>li>a .arrow-icon {
    position: absolute;
    right: 15px;
}

.sidebar-footer .dropdown>a {
    background: rgba(var(--baseColor));
    border-color: rgba(var(--baseColor));
    height: 40px;
    font-size: var(--baseFontsize);
    line-height: 39px;
}

.sidebar-footer .dropdown>a:hover {
    color: rgba(var(--whiteBg));
}

.sidebar-footer .dropdown-menu .active a,
.sidebar-footer .dropdown-menu .active a:hover {
    background: url(../images/icon-check.svg) rgba(var(--grayBg)) no-repeat 94% center/15px;
    color: rgba(var(--blackBg));
}

.sidebar-body ul li a {
    width: 100%;
    display: block;
    padding: 15px 0;
    font-weight: 500;
    font-size: var(--baseFontsize);
    line-height: 17px;
    color: rgba(var(--themeColor), 0.9);
    opacity: 0.65;
}

.sidebar-body ul li a img {
    margin-right: 10px;
}

.navbar-right>.management-menu>li {
    margin-left: 10px;
}

.navbar-right >ul> li> a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-foot-menus svg {
    margin-right: 12px;
    width: 20px;
}
.navbar-right ul li a>img,
.sidebar-footer a>img {
    margin-right: 7px;
    max-width: 16px;
    max-height: 16px;
}

.dropdown-menu {
    border-radius: 8px;
}

.navbar-right>ul>li>a {
    border-radius: 8px;
    color: rgba(var(--baseColor));
    font-weight: 500;
    font-size: 15px;
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
}
h4.sub-heading{
    color: rgba(var(--blackBg), 0.6);
    line-height: 1.7em;
    font-size: 20px;
    margin: 0;
}
.navbar-right>ul>li>a:hover {
    background: rgba(var(--lightGray));
}
.navbar-right>ul>li:hover>a,
.navbar-right>ul>li.active>a {
    border-color: rgba(var(--border-color));
}

.navbar-right a:hover,
.sidebar-footer a:hover {
    text-decoration: none;
    color: inherit;
}

.body-content {
    padding: 30px 60px;
    min-height: calc(100vh - 60px);
    background-color: rgba(var(--grayBg));
}

.body-content>.loader-wrap {
    height: calc(100vh - 118px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon img {
    margin-left: 6px;
    transition: 300ms all;
}

.show>.arrow-icon>img {
    transform: rotate(180deg);
}

.fml-main {
    display: flex;
    flex-wrap: wrap;
}

.fml-sidebar {
    padding: 0 0 0 25px;
    width: 350px;
}

.fml-content {
    width: calc(100% - 350px);
box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
    position: relative;
    background: rgba(var(--whiteBg));
    border-radius: 14px;
    padding: 25px;
}

.fml-btn-wrapper input.btn:focus {
    box-shadow: none;
}

.fml-report-wrapper {
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
    background: rgba(var(--whiteBg));
    border-radius: 14px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
}

.fml-btn-wrapper input.btn {
    margin-left: 10px;
    border-radius: 10px;
    background: rgba(var(--whiteBg));
    border: 1px solid rgb(var(--border-color));
    padding: 11px;
    width: 46px;
}

.fml-btn-wrapper .btn+.btn {
    margin-left: 10px;
}

.fml-report-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    /* max-height: 150px;
    overflow: hidden; */
    transition: 300ms all;
    max-height: calc(100vh - 710px);
    overflow: hidden;
    min-height: 100px;
}

.fml-report-wrapper li {
    margin: 8px 3px;
}

.fml-report-wrapper li a {
    background: rgba(var(--whiteBg));
    border: 1px solid rgba(var(--border-color));
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 8px;
    font-weight: 400;
    font-size: 13px;
    color: rgba(var(--baseColor));
    text-decoration: none;
    opacity: 0.6;
}

.fml-report-wrapper li.fml-reports.active a {
    opacity: 1;
    background: rgba(var(--whiteBg));
    box-shadow: 0 2px 2px rgba(var(--lightGrayShadow));
    color: rgba(var(--themeColor), 0.9);
    border-color: transparent;
}

.fix-wrapper .button-group {
    margin-bottom: 30px;
}

.fml-heading {
    margin-bottom: 20px;
}

.fml-list h3 {
    margin-top: 20px;
    position: relative;
}

.fml-list h3 a {
    text-decoration: none;
}

.fml-list h4 {
    margin: 20px 0 10px;
    font-weight: 600;
    position: relative;
}

.fml-list h4 span {
    font-weight: 700;
    font-size: 43px;
    line-height: 51px;
    color: rgba(var(--baseColor));
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.option-list {
    margin-bottom: 16px;
}

.option-list-custom {
    position: relative;
    margin-top: 30px;
}

.option-list-custom label {
    position: absolute;
    top: -11px;
    background: rgba(var(--whiteBg));
    padding: 0 10px;
    font-weight: 600;
    left: 7px;
}

.gettomenus {
    background: rgba(var(--whiteBg));
    border-radius: 14px;
    padding: 30px;
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
}


.gettomenus li a {
    font-weight: 400;
    font-size: var(--baseFontsize);
    line-height: 20px;
    color: rgba(var(--baseColor));
    mix-blend-mode: normal;
    opacity: 0.6;
    text-decoration: none;
    display: flex;
    padding: 9px 0;
    position: relative;
}
.gettomenus li a:hover,
.gettomenus li a:hover{
    opacity: 1 !important;
}
.gettomenus li a.active-menu,
.gettomenus li:first-child a,
.gettomenus li:last-child a {
    font-weight: 600;
    opacity: 1;
}
.gettomenus li:first-child a svg,
.gettomenus li:last-child a svg {
    margin-right: 5px;
    max-width: 12px;
}
.gettomenus li a:before {
    content: "";
    border-left: 3px solid transparent;
    left: -30px;
    position: absolute;
    height: 100%;
    top: 0;
}

.gettomenus li a.active-menu:before {
    border-color: rgba(var(--blackBg));
}

.fml-btn-wrapper {
    display: flex;
}

.fml-btn-wrapper input+input {
    margin-left: 20px;
    border: 1px solid rgba(var(--baseColor));
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    width: 46px;
    padding: 9px;
    height: 46px;
}

.fix-wrapper .fml-btn-wrapper input+input {
    width: auto;
}

.expand-list {
    background: linear-gradient(180.17deg, rgba(var(--whiteBg), 0.0001) -101.36%, rgba(var(--gradientBg2)) 99.85%);
    width: 100%;
    display: flex;
    text-align: center;
    height: 97px;
    position: absolute;
    bottom: -1px;
    left: 0;
    align-items: center;
    justify-content: center;
}

.colorBox>span {
    font-size: calc(var(--baseFontsize) - 1px);
}

.jfrgbA {
    font-size: var(--baseFontsize);
}

.fml-report-wrapper.expand ul {
    max-height: calc(100vh - 585px);
    overflow: auto;
    min-height: 200px;
}

.fml-sidebar .fix-wrapper {
    position: sticky;
    top: 86px;
    width: 325px;
    max-height: calc(100vh - 60px);
}

.fml-sidebar .after-wrapper.fix-wrapper {
    top: -155px;
}
.sidebar-body ul {
    min-height: calc(100vh - 210px);
}
.body-content.user-body-content {
    padding: 25px;
}

.navbar-right {
    display: flex;
}

.card.customer-body {
    padding: 50px;
}

.customer-head {
    display: flex;
    justify-content: space-between;
}

.customer-head .nav.nav-tabs {
    padding-left: 20px;
    border: 0;
}

.nav.nav-tabs a {
    padding: 10px;
    border-bottom: 3px solid transparent;
    font-weight: 400;
    font-size: var(--baseFontsize);
    line-height: 19px;
    color: rgba(var(--blackBg), 70%);
    position: relative;
    bottom: -1px;
}
body .css-1s2u09g-control, body .css-1pahdxg-control {
    min-height: 46px !important;
    border-radius: 10px;
}
.nav.nav-tabs a.active {
    border-color: rgba(var(--themeColor));
    color: rgba(var(--themeColor));
}

.nav.nav-tabs a:hover {
    color: rgba(var(--blackBg), 100%);
    text-decoration: none;
}

.colorBox {
    display: flex;
    border: 1px solid rgb(var(--border-color));
    border-radius: 10px;
    overflow: hidden;
    padding: 0 5px 0 10px;
    justify-content: space-between;
    height: 46px;
    align-items: center;
}

.colorInput {
    border: 0;
    padding: 0;
    width: 100px;
    height: 35px;
}

.image-input {
    width: 100%;
    padding: 15px;
    position: relative;
    height: 60px;
    text-align: center;
    overflow: hidden;
}

.image-input+span {
    font-size: 12px;
    margin-top: 10px;
    display: block;
}

.image-input input {
    display: none;
}

.cs-border {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgb(var(--border-color));
}

.image-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 54px;
    color: rgba(var(--baseColor), 0.4);
    transition: 300ms all;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(var(--border-color));
}
.image-button img {
    margin-right: 10px;
    opacity: 0.2;
}
.image-button:hover {
    color: rgba(var(--blackBg), 1);
}
.image-button img{
    transition: 300ms all;
}
.image-button:hover img {
    opacity: 1;
}


.selected {
    background: rgba(var(--purple)) !important;
}

.image-input+label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(var(--themeColor), 0.9);
    opacity: 0.8;
    margin-top: 10px;
    display: block;
}

.status-label {
    border-radius: 8px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 10px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.active-label {
    background: rgba(var(--success-color), 0.1);
    color: rgba(var(--success-color));
}

.inactive-label {
    background: rgba(var(--warning-color), 0.1);
    color: rgba(var(--warning-color));
}

.action-btn {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(var(--whiteBg));
    margin-right: 10px;
    border: 1px solid rgb(var(--border-color));
}

.action-btn.edit {
    background: rgba(var(--whiteBg));
}

.action-btn.active-user {
    background: rgba(var(--whiteBg));
}

.action-btn.delete {
    background: rgba(var(--warning-color), 0.1);
}

.datatable-filter-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-list {
    padding: 20px;
    margin: 0 -20px;
    padding-bottom: 0;
}

.user-list ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}
.q-user-list > ul {
    display: flex;

}
.user-wrap {
    display: flex;
    align-items: center;
}

.user-icon {
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 16px;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: rgba(var(--themeColor), 0.1);
    font-weight: 600;
    color: rgba(var(--themeColor), 0.9);
    border: 1px solid rgba(var(--themeColor), 0.2);
}

.user-icon img {
    width: 100%;
    height: 100%;
}

table .user-icon {
    font-size: 15px;
}

.user-detail h6 {
    font-weight: 600;
    font-size: var(--baseFontsize);
    color: rgba(var(--baseColor));
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
}
body .css-12jo7m5 {
    font-weight: 500;
}
table .user-detail h6 {
    font-size: var(--baseFontsize);
    white-space: nowrap;
}

.user-detail p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(var(--baseColor), 0.6);
    margin: 0;
    text-transform: lowercase;
}

.project-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 250px;
}

.project-list li {
    background: #ededee;
    border-radius: 8px;
    margin: 5px;
    text-align: center;
    padding: 4px 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: rgba(var(--blackBg));
    white-space: nowrap;
}
body .bMgaAx div:first-child {
    font-size: 14px;
}
.user-detail {

    font-weight: 600;
}
.q-user-list {
    padding: 20px;
    margin: 0;
    background: rgb(var(--whiteBg));
    border: 0;
    border-bottom: 1px solid rgb(0 0 0 / 11%);
}
.user-list.q-user-list ul li {
    margin-bottom: 0;
}

div#nav-icon {
    display: none;
    width: 22px;
    position: relative;
    height: 16px;
    margin-left: 15px;
}

div#nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgba(var(--baseColor));
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 7px;
    -webkit-animation: nav-icon-bg 3s infinite;
    -moz-animation: nav-icon-bg 3s infinite;
    -o-animation: nav-icon-bg 3s infinite;
    animation: nav-icon-bg 3s infinite;
}

#nav-icon span:nth-child(3) {
    top: 14px;
}

.menu-open #nav-icon span,
.dropdown-open #nav-icon span {
    background: rgba(var(--whiteBg));
}

#nav-icon.open span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-open div#nav-icon {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.access-user-list li {
    margin: 5px;
    background: rgba(var(--whiteBg));
    border: 1px solid rgb(var(--border-color));
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 10px;
    font-size: 13px;
}

.access-user-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    border-radius: 3px;
    box-shadow: 0 0 0.2em rgba(var(--baseColor), 50%) !important;
    background-color: rgba(var(--baseColor)) !important;
    font-family: "Inter";
    line-height: 11px;
}

.preview-img {
    display: block;
    min-height: auto;
    border-radius: 8px;
    width: 100%;
}

.image-button {
    margin-bottom: 0 !important;
    font-size: 14px;
    height: auto !important;
    font-weight: 500;
}

.form-fields-wrap {
    max-height: calc(100vh - 173px);
    min-height: calc(100vh - 173px);
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
}

.modal-dialog .nav.nav-tabs a {
    font-size: 14px;
}
#questionnaire-permition .form-fields-wrap {
    max-height: calc(100vh - 281px);
    min-height: calc(100vh - 281px);
}

.space-div {
    padding: 20px;
}

/* datatable css */
.sc-bczRLJ.rdt_Table {
    border: 1px solid rgba(var(--tableBorder));
    border-radius: 14px;
    overflow: visible;
}
.rdt_ExpanderRow p {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(var(--tableBorder));
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rdt_ExpanderRow p b {
    min-width: 80px;
    display: inline-block;
    width: 40%;
}

/* .rdt_Table button {
    background: transparent !important;
} */

.sc-gsnTZi.rdt_TableHead>div {
    border-radius: 5px 5px 0 0;
    border-color: rgb(0 0 0 / 11%);
    background: transparent;
}
.sc-hHLeRK.rdt_TableBody>div:last-child {
    border-radius: 0 0 10px 10px;
}

body .rdt_Pagination {
    margin-top: 20px;
    border-radius: 14px;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 11%);
}

.alert-danger svg {
    margin-right: 10px;
    vertical-align: middle;
}

.sc-hHLeRK.rdt_TableBody>div:hover {
    background: rgba(var(--acentColor), 5%);
}

.sc-jqUVSM.rdt_TableRow {
    padding: 12px 0;
    border-bottom-color: rgb(0 0 0 / 11%);
    background: transparent;
}
.datatable-search {
    width: 45%;
}
.text-b {
    font-weight: 600;
}
/* body .sc-dmRaPn.gelpCx .rdt_TableCell > div {
    font-weight: 600;
    font-size: 16px;
} */
.modal-body .user-detail p {
    padding: 0;
    text-align: left;
    font-size: 12px;
    text-transform: initial;
}

.body-content .gelpCx,
.body-content .sc-dmRaPn {
    border-radius: 14px;
    overflow: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 11%);
}

.body-content .sc-bczRLJ.rdt_Table {
    border: 0;
}

.customselect .css-1s2u09g-control, .customselect .css-1pahdxg-control {
    min-height: 46px;
    border-radius: 10px;
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
    border: 0;
}
.customselect .css-1s2u09g-control:focus,
.customselect .css-1pahdxg-control,
.customselect .css-1pahdxg-control:hover,
.customselect .css-1pahdxg-control:focus {
    color: rgba(var(--baseColor));
    box-shadow: inset rgb(var(--themeColor), 0.9) 0 0 0 1px, inset rgb(var(--whiteBg)) 0 0 0 100px !important;
    border: 0;
}
body span.css-1okebmr-indicatorSeparator {
    display: none;
}
body .css-1rhbuit-multiValue {
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
#fb-editor .form-wrap.form-builder .form-actions {
    float: none;
    margin-top: 15px;
    display: flex;
}

#fb-editor .frm-holder .btn {
    height: inherit;
    text-decoration: none;
    width: inherit;
    min-width: inherit;
}

#fb-editor .form-actions .btn-primary {
    min-width: inherit;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements {
    padding: 15px 0;
    background: transparent;
    border-radius: 0;
    margin: 0;
    border: 0;
}

.close-field {
    display: none;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements label:first-child {
    text-align: left;
    padding-top: 0px;
}

.del-button {
    float: right;
}

.field-actions a:hover {
    background: rgba(var(--tableBorder)) !important;
    color: rgba(var(--blackBg)) !important;
    border-radius: 2px !important;
}

.sidebar-body ul li a {
    padding: 10px 15px;
    border-radius: 8px;
    transition: 300ms all;
    display: flex;
    align-items: center;
    position: relative;
    color: rgba(var(--baseColor), 0.8);
}

.sidebar-body li.active a {
    background: #ededee;
    opacity: 1;
}

.sidebar-body li a span{
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    font-weight: 500;
    color: rgba(var(--blackBg));
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
}

.sidebar-body ul li.active a span {
    color: rgba(var(--blackBg));
    font-weight: 600;
}

.sidebar-body ul>li+li {
    margin-top: 12px;
}

.sidebar-body ul li a:hover{
    background: rgba(var(--lightGray));
    opacity: 1;
}

/* .sidebar-body ul li.active>a path{
    stroke: rgba(var(--themeColor), 0.9);
}

.sidebar-body ul li.active>a path.fill {
    fill: rgba(var(--themeColor), 0.9);
    stroke: transparent;
}

.sidebar-body ul li.active a:hover svg .fill {
    fill: rgba(var(--themeColor), 0.9);
    stroke: transparent;
} */

.sidebar-footer .dropdown {
    margin-bottom: 15px;
}

.sidebar-header figure {
    width: 40px;
    height: 40px;
    line-height: 60px;
    border-radius: 8px;
    border: 1px solid rgba(var(--blackBg), 0.1);
    margin: 0;
    overflow: hidden;
    background: rgb(var(--whiteBg));
    display: flex;
    align-items: center;
}
.sidebar-header img {
    padding: 6px;
    display: block;
}
.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header label {
    margin: 0;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(var(--baseColor), 0.5);
    text-transform: capitalize;
}

.sidebar-header label span {
    font-weight: 600;
    font-size: 16px;
    display: block;
    color: rgba(var(--baseColor));
}

.navbar-right>ul>li.language-switcher a {
    background: rgba(var(--lightGray));
}

/* .navbar-right>ul>li.language-switcher {
    margin-left: 15px;
} */

.dropdown-badge {
    line-height: 1.5;
    display: inline-block;
}

.setting-form form {
    padding: 30px;
    border-radius: 14px;
    /* border: 1px solid rgb(var(--border-color)); */
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
    background: rgb(var(--whiteBg));
}

/* .customer-main .form-group label {
    margin-bottom: 0;
} */

.management-menu-m {
    display: none;
}

.main-loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--whiteBg));
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* .ihtyEN {
    min-width: inherit !important;
    min-width: auto !important;
    max-width: initial !important;
} */

.iFRVZk {
    border: 0;
}

.dot-falling {
    position: relative;
    left: -9999px;
    width: 9px;
    height: 9px;
    border-radius: 8px;
    background-color: rgba(var(--whiteBg));
    color: rgba(var(--whiteBg));
    box-shadow: 9999px 0 0 0 rgba(var(--whiteBg));
    -webkit-animation: dot-falling 1s infinite linear;
    animation: dot-falling 1s infinite linear;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.dot-falling::before,
.dot-falling::after {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
}

.dot-falling::before {
    width: 9px;
    height: 9px;
    border-radius: 8px;
    background-color: rgba(var(--whiteBg));
    color: rgba(var(--whiteBg));
    -webkit-animation: dot-falling-before 1s infinite linear;
    animation: dot-falling-before 1s infinite linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.dot-falling::after {
    width: 9px;
    height: 9px;
    border-radius: 8px;
    background-color: rgba(var(--whiteBg));
    color: rgba(var(--whiteBg));
    -webkit-animation: dot-falling-after 1s infinite linear;
    animation: dot-falling-after 1s infinite linear;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes dot-falling {
    0% {
        box-shadow: 9999px -15px 0 0 rgba(var(--loaderColor), 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 9999px 0 0 0 rgba(var(--whiteBg));
    }

    100% {
        box-shadow: 9999px 15px 0 0 rgba(var(--loaderColor), 0);
    }
}

@keyframes dot-falling {
    0% {
        box-shadow: 9999px -15px 0 0 rgba(var(--loaderColor), 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 9999px 0 0 0 rgba(var(--whiteBg));
    }

    100% {
        box-shadow: 9999px 15px 0 0 rgba(var(--loaderColor), 0);
    }
}

@-webkit-keyframes dot-falling-before {
    0% {
        box-shadow: 9984px -15px 0 0 rgba(var(--loaderColor), 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 9984px 0 0 0 rgba(var(--whiteBg));
    }

    100% {
        box-shadow: 9984px 15px 0 0 rgba(var(--loaderColor), 0);
    }
}

@keyframes dot-falling-before {
    0% {
        box-shadow: 9984px -15px 0 0 rgba(var(--loaderColor), 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 9984px 0 0 0 rgba(var(--whiteBg));
    }

    100% {
        box-shadow: 9984px 15px 0 0 rgba(var(--loaderColor), 0);
    }
}

@-webkit-keyframes dot-falling-after {
    0% {
        box-shadow: 10014px -15px 0 0 rgba(var(--loaderColor), 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 10014px 0 0 0 rgba(var(--whiteBg));
    }

    100% {
        box-shadow: 10014px 15px 0 0 rgba(var(--loaderColor), 0);
    }
}

@keyframes dot-falling-after {
    0% {
        box-shadow: 10014px -15px 0 0 rgba(var(--loaderColor), 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 10014px 0 0 0 rgba(var(--whiteBg));
    }

    100% {
        box-shadow: 10014px 15px 0 0 rgba(var(--loaderColor), 0);
    }
}


.form-wrap.form-builder .frmb .form-elements .false-label:first-child,
.form-wrap.form-builder .frmb .form-elements label:first-child {
    overflow: inherit !important;
}

nav.sc-iIPllB.iFRVZk.rdt_Pagination {
    border: 0 !important;
}

.form-builder-wrap .react-form-builder>div {
    display: inline-block;
    width: 100%;
}

.form-builder-wrap .react-form-builder .react-form-builder-preview {
    /* border: 1px solid #D0D7DE; */
    border: 0;
    border-radius: 10px;
    padding: 0;
    background: transparent;
    box-shadow: none;
    width: calc(100% - 280px) !important;
    float: left;
}

.form-builder-wrap .col-md-3 {
    width: 250px !important;
    margin-top: 0px !important;
    height: auto;
    float: right;
    position: sticky;
    top: 75px;
    transition: 300ms all;
    z-index: 9;
    border-radius: 14px;
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
}



body .react-form-builder .react-form-builder-toolbar ul,
body .react-form-builder .react-form-builder-toolbar ul+div {
    padding: 20px;
 
}
body .react-form-builder .react-form-builder-toolbar ul {
    padding-bottom: 0;
}
body .react-form-builder .react-form-builder-toolbar h4 {
    text-align: left;
}




.form-builder-wrap .SortableItem {
    padding: 20px !important;
    border: 0 !important;
    margin-bottom: 15px !important;
    border-radius: 14px;
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
    background: rgb(var(--whiteBg));
}

.form-builder-wrap .toolbar-header-buttons {
    display: flex;
    top: 18px;
    right: 0px !important;
    background: rgba(var(--whiteBg));
    border: 1px solid rgba(var(--border-color));
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(var(--blackBg), 5%);
}
.form-builder-wrap .btn.is-isolated {
    width: 32px;
    height: 32px;
    border-radius: 5px !important;
}

.form-builder-wrap .btn.is-isolated:hover {
    background: rgba(var(--grayBg)) !important;
    color: rgba(var(--blackBg)) !important;
}

.form-builder-wrap .react-form-builder .react-form-builder-toolbar>h4 {
    display: none;
}

.form-builder-wrap .react-form-builder .react-form-builder-toolbar li {
    box-shadow: none;
    border: none !important;
    background: transparent !important;
    transition: 300ms all;
    padding: 8px 15px;
    border-radius: 8px;
    margin: 0;
    font-weight: 500;
    color: rgba(var(--blackBg));
}

.form-builder-wrap .react-form-builder .react-form-builder-toolbar li+li {
    margin-top: 10px !important;
}

.form-builder-wrap .react-form-builder .react-form-builder-toolbar li:hover {
    background: rgba(var(--lightGray)) !important;
    color: rgba(var(--blackBg));
}



.form-builder-wrap .react-form-builder .form-group {
    pointer-events: initial !important;
}

.form-builder-wrap .react-form-builder textarea {
    height: 100px;
    padding: 15px;
    box-shadow: none;
    border: 1px solid rgba(var(--border-color));
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}

.btn-wrap {
    display: flex;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 10px 15px;
    width: 100%;
    border-top: 1px solid rgba(var(--lightGrayBorder));
    margin-left: 0;
    left: 0;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(var(--whiteBg), 0.52);
}

.btn-wrap button {
    margin: 0 auto;
}

.form-builder-wrap .react-form-builder .react-form-builder-preview .edit-form {
    left: initial !important;
    pointer-events: auto;
    background-color: rgba(var(--whiteBg));
    background-clip: padding-box;
    max-width: 800px;
    right: -1000px;
    margin: 10px;
    border-radius: 10px;
    height: calc(100vh - 20px);
    overflow: hidden;
    padding: 20px 0;
}

.form-builder-wrap .edit-form>div {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 0 20px;
}

.form-builder-wrap .react-form-builder .react-form-builder-preview.is-editing .edit-form {
    right: 0;
}

.form-builder-wrap .is-editing:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--blackBg), 50%);
    z-index: 999;
}

.form-builder-wrap .clearfix {
    clear: both;
    content: "";
}

.form-builder-wrap .float-left {
    float: left;
}

.form-builder-wrap .float-right {
    float: right;
}

.form-builder-wrap .edit-form .dismiss-edit {
    margin-top: 0 !important;
}

.form-builder-wrap .edit-form .form-group>label {
    font-size: 14px;
    font-weight: 600 !important;
}

.form-builder-wrap .edit-form .form-group {
    margin-bottom: 10px;
}

.form-builder-wrap .edit-form .rdw-editor-main {
    border: 1px solid rgba(var(--tableBorder)) !important;
    border-top: 0 !important;
    border-radius: 0 0 5px 5px !important;
    box-sizing: border-box !important;
}

.form-builder-wrap .edit-form .rdw-editor-toolbar {
    border: 1px solid rgba(var(--tableBorder)) !important;
    border-radius: 5px 5px 0 0 !important;
}

.form-builder-wrap .edit-form .dynamic-options-actions-buttons {
    margin-left: 0 !important;
}

.form-builder-wrap .react-form-builder .react-form-builder-preview .Sortable .rfb-item:hover {
    background: rgba(var(--whiteBg)) !important;
    box-shadow:  inset rgb(0 0 0 / 11%) 0 0 0 1px !important;
    box-shadow:  none;
}
.form-builder-wrap .react-form-builder .react-form-builder-preview .Sortable .rfb-item.SortableItem .form-group label {
    cursor: initial !important;
}

.form-builder-wrap .react-form-builder .react-form-builder-preview .Sortable .rfb-item.SortableItem .form-group label.custom-control-label {
    cursor: pointer !important;
    margin-top: 8px;
}

.check-div input[type="checkbox"]+label:before {
    top: -6px;
}
.cus-pd{
    padding: 18px 0;
}
.check-div input[type="checkbox"]:checked+label:after {
    top: 0px;
}

.react-form-builder .react-form-builder-preview .edit-form .dynamic-option-list ul li button {
    float: left;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

body .react-form-builder .react-form-builder-toolbar ul li i {
    margin: 0 10px 0 0;
}

body .form-place-holder {
    margin: 0;
    border: 1px dashed rgb(var(--border-color));
    border-radius: 10px;
    padding: 50px 25px;
    font-size: 20px;
    color: rgba(var(--themeColor), 0.5);
    font-family: inherit;
}

/* .right-attribute {
    max-width: 250px;
    position: absolute;
    right: 30px;
    top: 525px;
    z-index: 0;
    padding: 20px;
    background: #f6f8fa;
    border-radius: 10px;
} */

.right-attribute h4 {
    font-weight: 600;
}

.right-attribute h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

body .react-form-builder-toolbar .form-group.mb-4 {
    padding: 0;
    border: 0;
}

.section_break:last-child {
    min-height: 88vh;
}

.sidebar-footer .css-4ljt47-MenuList {
    padding: 10px;
}

.sidebar-footer .select__option.css-9gakcf-option {
    background: transparent !important;
    color: rgba(var(--blackBg));
    border-radius: 4px;
    font-weight: 500;
}
.sidebar-footer .select__option +.select__option {
    margin-top: 5px;
    font-weight: 500;
    border-radius: 8px !important;
}

.sidebar-footer .select__option.css-1n7v3ny-option,
.sidebar-footer .select__option.select__option--is-focused {
    background: url(../images/icon-check.svg) rgba(var(--baseColor), 0.05) no-repeat 94% center/15px !important;
    border-radius: 4px;
    color: rgba(var(--blackBg));
    cursor: pointer;
}

.sidebar-footer .select__option.css-yt9ioa-option:active,
.sidebar-footer .select__option.css-1n7v3ny-option:active {
    background-color: transparent !important;
}

.loader-wrap.fml-c-loader {
    top: 50%;
    position: absolute;
    left: 48%;
    transform: translate(-50%, -50%);
}

.full-body-loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-nav-title {
    text-transform: uppercase;
    font-size: 12px;
   font-weight: 700;
    margin-bottom: 20px;
}
.drop-down {
    background: rgb(var(--whiteBg));
    border-radius: 14px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px, rgb(0 0 0 / 12%) 0 15px 30px 0px;
    position: absolute;
    right: -13px;
    top: 100%;
    margin-top: 11px;
    min-width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms all;
}
.account-info-wrapper:hover .drop-down {
    opacity: 1;
    visibility: visible;
}
.drop-down:after,
.drop-down:before,
.dropdown-menu:before,
.dropdown-menu:after{
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
}
.account-info-wrapper {
    position: relative;
}

.drop-down:before,
.dropdown-menu:before {
    background: rgba(0, 0, 0, 0.15);
}

 .drop-down:after,
 .drop-down:before,
 .dropdown-menu:after,
 .dropdown-menu:before{
    border-radius: 0 0 4px 0;
    margin-left: -5px;
    left: 83%;
    transform: rotate(-135deg);
}

.table-drop-down .dropdown-menu:after, .table-drop-down .dropdown-menu:before {
    display: none;
}
.table-drop-down .dropdown-menu{
    min-width: 7.5rem;
}

.drop-down:after, .dropdown-menu:after {
    top: -6px;
}
.drop-down:before, .dropdown-menu:before {
    top: -7px;
}
.drop-down:after, .dropdown-menu:after{
    background: rgb(var(--whiteBg));
}
.sub-divider {
    background: rgba(var(--blackBg), 0.075);
    display: block;
    position: relative;
    width: 100%;
    height: 0.9px;
    margin: 0 0 7px 0;
}

.icon-dashboard {
    top: -1px;
    position: relative;
}
.modal-dialog .user-list.q-user-list{
    padding: 10px 20px;
}
.modal-dialog .cus-nav {
    padding: 3px 15px 0;
}
.body-content-wrap {
    padding: 30px;
    border-radius: 14px;
    border: 0;
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
    background: rgb(var(--whiteBg));
}

.setting-form .nav a{
    font-size: 16px;
}
.setting-form .nav a:hover{
    color: rgba(var(--blackBg), 0.7);
}
.setting-form .nav a.active{
    color: rgba(var(--themeColor));
}
.setting-form .nav a+a{
    padding-top: 15px;
}
.setting-form h2 {
    text-transform: capitalize;
}
body .hjBMSB {
    font-size: 14px;
}