@import url(./bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url(./app.css);
@import url(./responsive.css);

:root {
  --themeColor: #F5F7F7;
  --baseColor: #242424;
  --bs-blue: 5, 131, 107;
  --bs-primary: 5, 131, 107;
  --primaryColor: 5, 131, 107;
  --baseFont: "Source Sans Pro";
  --baseFontsize: 16px;
  --white: #fff;
  --border: #dee2e6;
  --radius: 8px;
  --loaderColor: 152, 128, 255;
  --loaderBall: 51, 51, 51;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
input+label {
  user-select: none;
}
a{
  color: var(--baseColor);
  transition: 300ms all;
}
a,a:hover,a:focus{
  text-decoration: none;

}
body {
  background: var(--themeColor);
  font-family: var(--baseFont);
  font-size: var(--baseFontsize);
  /* letter-spacing: -0.020em; */
  -webkit-font-smoothing: antialiased;
  color: var(--baseColor);
}
ul,li{
  list-style:none;
  margin: 0;
  padding: 0;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(var(--primaryColor));
  --bs-btn-border-color: rgba(var(--primaryColor));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(var(--primaryColor),0.9);
  --bs-btn-hover-border-color: rgba(var(--primaryColor),0.9);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(var(--primaryColor),0.9);
  --bs-btn-active-border-color: rgba(var(--primaryColor),0.9);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(var(--primaryColor));
  --bs-btn-disabled-border-color: rgba(var(--primaryColor));
}
.btn-primary:hover {
  background-color: rgba(var(--primaryColor),0.9);
  border-color: rgba(var(--primaryColor),0.9);
}

.form-control:focus, .form-check-input:focus, .form-radio-input:focus {
  border-color: rgba(var(--primaryColor),0.5);
  box-shadow: 0 0 0 0.25rem rgba(var(--primaryColor),0.2);
}
.datatable-filter-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.datatable-search {
  width: 50%;
}
.form-control {
  border-radius: var(--radius);
  min-height: 40px;
  
}
.datatable-search .form-control {
  /* box-shadow: 0px 0px 5px rgb(23 24 24 / 5%), 0px 1px 2px rgb(0 0 0 / 5%); */
}
.btn {
  min-height: 40px;
  border-radius: var(--radius);
  padding: 7px 15px;
  min-width: 90px;
}
body .gelpCx {
  border-radius: var(--radius);
  margin-bottom: 20px;
  border: 1px solid var(--border);
  /* box-shadow: 0px 0px 5px rgb(23 24 24 / 5%), 0px 1px 2px rgb(0 0 0 / 5%); */
}
nav.sc-iIPllB.jxflYm.rdt_Pagination {
  background: transparent;
  border: 0;
}
.modal-content.right-modal {
  border-radius: 0;
  border: 0;
  min-height: 100vh;
}
.modal.right.fade .modal-dialog {
  margin-right: inherit;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(120%, 0);
  transform: translate(120%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.modal.right.show .modal-dialog {
  transform: none;
}
.form-group label {
  font-size: 15px;
  font-weight: 600;
}
.error-badge {
  color: red;
}
.error {
  font-size: 12px;
  color: red;
  display: inline-block;
  background: #ff000017;
  border-radius: 5px;
  padding: 2px 8px;
  margin-top: 10px;
}
.modal-head h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

.modal-head {
  padding: 17px 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
}

body .css-1xepz10-control,
body .css-bftceo-control:hover {
  border-color: var(--bs-border-color);
  border-radius: var(--radius);
  height: 41px;
  min-height: 41px;
  box-shadow: none;
}
body  .css-bftceo-control:hover, body .css-1xepz10-control:hover {
  border-color: var(--bs-border-color);
}

body .css-1xepz10-control:focus, body .css-bftceo-control {
  border-color: rgba(var(--primaryColor),0.5);
  box-shadow: 0 0 0 0.25rem rgba(var(--primaryColor),0.2);
  height: 41px;
  min-height: 41px;
}
body .css-1rhcplz-menu{
  font-size: 15px;
}
textarea.form-control{
  min-height: 100px;
}
.sc-evZas.eUeqdG {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--baseColor);
  opacity: 0.5;
}

.badge.text-bg-primary {
  /* margin-left: 5px; */
  background: rgba(var(--primaryColor)) !important;
}
.form-group > label {
  text-transform: capitalize;
}
.right .modal-body {
  background: var(--white);
  height: calc(100vh - 125px);
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-body {
  background: var(--themeColor);
  padding: 25px;
}
.modal-content {
  overflow: hidden;
  border: 0;
  border-radius: var(--radius);
}
.frm-btn-wrap {
  background: var(--white);
  margin: 0 -25px -25px -25px;
  padding-bottom: 15px;
  border-top: 1px solid var(--border);
}
.close img {
  width: 12px;
  opacity: 0.7;
}

.close {
  border: 1px solid var(--border);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  line-height: 20px;
  transition: 300ms all;
}
.close:hover {
  background: #dee2e6;
}
.close:hover img{
  opacity: 1;
}

.form-check-input:checked{
  background-color: rgba(var(--primaryColor));
  border-color: rgba(var(--primaryColor), 0.6);
}


.form-group .badge {
  position: relative;
  top: -3px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--border);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--primaryColor), 0.8);;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--primaryColor));
}
.table-drop-down > li {
  border-radius: 5px;
  border: 1px solid var(--border);
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  background: var(--white);
}
.dropdown-menu {
  box-shadow: 0px 0px 5px rgb(23 24 24 / 2%), 0px 1px 2px rgb(0 0 0 / 2%);
  padding: 5px 0;
}
.dropdown-menu li a {
  padding:5px 10px;
  display: block;
  font-size: 14px;
}
.dropdown-menu li:hover a{
  background: rgba(5,131,107,0.1);
}
.user-wrap {
  display: flex;
    align-items: center;
}
.user-icon {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 1px solid rgba(var(--primaryColor),0.3);
  font-size: 15px;
  line-height: 33px;
  margin-right: 8px;
  text-align: center;
  background: rgba(var(--primaryColor), 0.1);
  color: rgba(var(--primaryColor));
}
body .jVeafb:hover {
  background: rgba(var(--primaryColor), 0.05);
}
.bysellopt .badge {
  font-weight: normal;
  font-size: 10px;
}

.image-input label {
  border: 1px solid rgba(var(--primaryColor), 0.4);
  border-radius: var(--radius);
  overflow: hidden;
  padding: 22px 15px;
  background: rgba(var(--primaryColor), 0.05);
  width: 100%;
  text-align: center;
  color: rgba(var(--primaryColor));
  cursor: pointer;
}
input#letter_pad {
  height: 0;
  width: 0;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(var(--loaderBall));
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.dot-falling {
  position: relative;
  left: -9978px;
  width: 9px;
  height: 9px;
  border-radius: 8px;
  background-color: rgba(var(--whiteBg));
  color: rgba(var(--whiteBg));
  box-shadow: 9999px 0 0 0 rgba(var(--whiteBg));
  -webkit-animation: dot-falling 1s infinite linear;
  animation: dot-falling 1s infinite linear;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.dot-falling::before,
.dot-falling::after {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 9px;
  height: 9px;
  border-radius: 8px;
  background-color: rgba(var(--whiteBg));
  color: rgba(var(--whiteBg));
  -webkit-animation: dot-falling-before 1s infinite linear;
  animation: dot-falling-before 1s infinite linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 9px;
  height: 9px;
  border-radius: 8px;
  background-color: rgba(var(--whiteBg));
  color: rgba(var(--whiteBg));
  -webkit-animation: dot-falling-after 1s infinite linear;
  animation: dot-falling-after 1s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes dot-falling {
  0% {
      box-shadow: 9999px -15px 0 0 rgba(var(--loaderColor), 0);
  }

  25%,
  50%,
  75% {
      box-shadow: 9999px 0 0 0 var(--white);
  }

  100% {
      box-shadow: 9999px 15px 0 0 rgba(var(--loaderColor), 0);
  }
}

@keyframes dot-falling {
  0% {
      box-shadow: 9999px -15px 0 0 rgba(var(--loaderColor), 0);
  }

  25%,
  50%,
  75% {
      box-shadow: 9999px 0 0 0 var(--white);
  }

  100% {
      box-shadow: 9999px 15px 0 0 rgba(var(--loaderColor), 0);
  }
}

@-webkit-keyframes dot-falling-before {
  0% {
      box-shadow: 9984px -15px 0 0 rgba(var(--loaderColor), 0);
  }

  25%,
  50%,
  75% {
      box-shadow: 9984px 0 0 0 var(--white);
  }

  100% {
      box-shadow: 9984px 15px 0 0 rgba(var(--loaderColor), 0);
  }
}

@keyframes dot-falling-before {
  0% {
      box-shadow: 9984px -15px 0 0 rgba(var(--loaderColor), 0);
  }

  25%,
  50%,
  75% {
      box-shadow: 9984px 0 0 0 var(--white);
  }

  100% {
      box-shadow: 9984px 15px 0 0 rgba(var(--loaderColor), 0);
  }
}

@-webkit-keyframes dot-falling-after {
  0% {
      box-shadow: 10014px -15px 0 0 rgba(var(--loaderColor), 0);
  }

  25%,
  50%,
  75% {
      box-shadow: 10014px 0 0 0 var(--white);
  }

  100% {
      box-shadow: 10014px 15px 0 0 rgba(var(--loaderColor), 0);
  }
}

@keyframes dot-falling-after {
  0% {
      box-shadow: 10014px -15px 0 0 rgba(var(--loaderColor), 0);
  }

  25%,
  50%,
  75% {
      box-shadow: 10014px 0 0 0 var(--white);
  }

  100% {
      box-shadow: 10014px 15px 0 0 rgba(var(--loaderColor), 0);
  }
}
.btn-sml {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  padding: 0;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--white);
  cursor: pointer;
}
.btn-sml:hover svg * {
  stroke: var(--baseColor);
}
.btn-sml:hover svg.nofill path {
  stroke: transparent;
  fill: var(--baseColor);
}
.action-replay li + li {
  margin-left: 10px;
}
.action-replay {
  display: flex;
  align-items: center;
}